<h1> </h1>

<div>
	<h1><%= @meetup.name %></h1>

	<h3>Location: <%= @meetup.location %></h3>

	<h5><p>Event Description: <%= @meetup.description %></p></h5>

<div>Join Meetup
	<form method="post" action="/meetups/">
		<input type="hidden" name="join_meetup" value="<%= @meetup.id %>">
		<input type="submit" value="Join Meetup!">
		
	</form>
</div>
<div>

	<% if @meetup.users.include?(current_user) %>		
		<form method="post" action="/meetups/leave">
			
			<input type="hidden" name="participant" value=<%%>
			<input type="submit" value="Leave Meetup!">
		</form>
	<%end%>

</div>
<div>
	<h4>Attendees:</h4>
		<% @meetup.users.each do |attendee| %>
			<li>
				<img src="<%=attendee.avatar_url%>" width="75" height="75"> </img><%= attendee.username %>
			</li>
		<% end %>

</div>
<div>
	<a href='/'>Back</a>
</div>